@{
    ViewData["Title"] = "Hut8 RC Racing";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hut8 RC Racing</h1>
	<img src="~/images/rc10b61fl.jpg" alt="TRCR NIS Round 2, Travis Eiler 2wd Stock Buggy 17.5" width="800px"/>
</div>
