@{
    ViewData["Title"] = "Hut8 RC Racing";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Hut8 RC Racing</h1>
		<h3>CPW213 .NET Web Homework</h3>
        <a href="https://cptc.instructure.com/courses/1851341/assignments/17176082">MVC Forms vs. Modelbinding Assignment</a><br />
        <a href="https://github.com/arcum-omni/RcWebApplication">Assignment GitHub Repository</a>
        <br /><br />
        <img src="~/images/rc10b61fl.jpg" alt="TRCR NIS Round 2, Travis Eiler 2wd Stock Buggy 17.5" width="800px" />
    </div>
